.tb {
    min-height: 2em;
    height: 2em;
    position: fixed;
    z-index: 10;
}
mat-icon {
    transition: transform 1s;
}
mat-icon:hover {
    transform: rotate(360deg);
}

/* EMPRESA */

.empresa {
    display: flex;
    z-index: 10;
}
.empresaLogo {
    height: 52px;
    margin-top: 5px;
    cursor: pointer;
}
.empresaText {
    font-size: 1.4em;
    margin: auto;
    font-family: sans-serif;
    color: #333;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    transition: transform 1s;
}
.empresa:hover .empresaText {
    transform: translateX(10px);
}

/* SPACER */

.spacer {
    flex: 1 1 auto;
}

/* BUSCAR */

.buscar {
    display: flex;
    align-items: center;
    margin: 0;
    height: 100%;
}
#bSidenav {
    min-width: 40px;
    padding: 0px;
}
.ocultarB {
    opacity: 0;
    width: 0px;
    transition: all 1s;
}
.mostrarB {
    opacity: 1;
    width: 24em;
    font-size: 0.7em;
    transition: width 1s, opacity 3s;
}
#buscarInput {
    caret-color: white;
}

/* RESULTADO DE BUSQUEDA */

.resBusqueda {
    zoom: 85%;
    position: absolute;
    left: 10%;
    top: 93%;
    background-color: ghostwhite;
    color: black;
    width: 100vw;
    max-width: 100vw;
    max-height: 70vh;
    border-bottom-left-radius: 16px;
    border-bottom-right-radius: 16px;
    overflow: auto;
}
.busElement {
    display: flex;
    width: inherit;
    overflow: auto;
}
.showResultado {
    height: auto;
    max-height: 600px;
    opacity: 1;
    transition: max-height 1.5s;
}
.hideResultado {
    height: 0px;
    max-height: 0px;
    border: none;
    transition: all 1.5s;
}
.showResItem {
    display: flex;
}
.hideResItem {
    display: none;
}

/* USUARIO */

.usuario {
    align-items: center;
    display: flex;
    margin: 0;
    cursor: pointer;
}
.usuario p {
    margin: 0;
    padding-right: 1em;
    font-size: 0.7em;
    font-weight: bold;
    margin-left: 16px;
    transition: all 0.5s;
}
.usuario img {
    width: 2em;
    margin: 0;
    transition: transform 0.5s;
}
.usuario:hover p {
    transform: translateX(-10px);
}
.usuario:hover img {
    transform: scale(1.2, 1.2);
}

/*SideBar*/

.sideb {
    padding-top: 2.5em;
}
mat-sidenav {
    position: fixed;
    width: 160px;
    color: white;
    padding-top: 50px;
    font-size: 0.8em;
    background-color: #212121 !important;
    outline: 1px solid #212121 !important;
}
mat-sidenav .icon {
    padding-right: 10px;
    zoom: 80%;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    height: 96%;
}
li {
    width: 90%;
}
li a {
    display: flex;
    align-items: center;
    color: white;
    padding: 12px 0 12px 16px;
    text-decoration: none;
    outline: 1px solid transparent;
    font-weight: 400;
    font-family: Roboto, "Helvetica Neue", sans-serif;
    transition: transform 1s;
    cursor: pointer;
}
li a:hover {
    transform: translateX(5px);
}
a mat-icon:hover {
    transform: rotate(0deg);
}
.rutas {
    padding: 1em;
    height: 89vh;
}
.btn-floating {
    position: fixed;
    top: 90%;
    left: 92%;
    z-index: 1;
}
@media only screen and (max-device-width: 800px) and (-webkit-min-device-pixel-ratio: 2) {
    .btn-floating {
        left: 82%;
    }
}