* {
    font-family: 'Product Sans';
}
button {
    font-size: 1.2em;
    border-radius: 6px;
    width: 280px;
    height: 40px;
    color: ghostwhite !important;
}
.guardar button {
    width: 100%;
    margin-top: 2em;
}
.nombre {
    width: 350px;
}
::ng-deep .cdk-overlay-pane {
    zoom: 80% !important;
}
::ng-deep .mat-dialog-container {
    zoom: 100% !important;
}
@media only screen and (max-width: 769px) {
     ::ng-deep .mat-form-field {
        width: 90%;
    }
     ::ng-deep .mat-dialog-container {
        zoom: 80% !important;
        height: 100vh;
        text-align: center;
    }
}