* {
    font-family: 'Product Sans';
}
button {
    font-size: 1.2em;
    border-radius: 6px;
    width: 280px;
    height: 40px;
    color: ghostwhite !important;
}
.guardar button {
    width: 100%;
    margin-top: 2em;
}
::ng-deep .cdk-overlay-pane {
    zoom: 80%;
}
::ng-deep .mat-dialog-container {
    zoom: 100% !important;
}
::ng-deep .pickerNewSwo div input.ng2-flatpickr-input.flatpickr-input {
    border-radius: 5px;
    height: 2em;
    width: 85%;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
    text-align: center;
    font-weight: bold;
}