* {
    font-family: 'Product Sans';
}
button {
    font-size: 1.2em;
    border-radius: 6px;
    width: 280px;
    height: 40px;
    color: ghostwhite !important;
}
.falla {
    display: grid;
    grid-template-columns: 1fr;
}
.guardar button {
    width: 100%;
    margin-top: 2em;
}

::ng-deep .pickerNewSwo div input.ng2-flatpickr-input.flatpickr-input {
    border-radius: 5px;
    height: 2em;
    width: 85%;
    border: 2px solid cornflowerblue;
    color: cornflowerblue;
    text-align: center;
    font-weight: bold;
}
::ng-deep .mat-dialog-container {
    border-radius: 30px;
}
@media only screen and (max-width: 769px) {
     ::ng-deep .mat-form-field {
        width: 90%;
    }
     ::ng-deep .mat-dialog-container {
        max-height: 90vh;
        font-size: 0.8em;
        text-align: center;
    }
    ::ng-deep .mat-option {
        font-size: 0.8em;
    }
}