.superior {
    display: grid;
    grid-template-columns: 1fr 1fr;
    text-align-last: center;
}

@media only screen and (max-width: 769px) {
    .superior {
        grid-template-columns: 1fr;
    }
}
.main{
    height: 92.4vh;
}
.datosCliente {
    margin: 1em;
}
mat-card{
    border-radius: 10px;
}

/* INFERIOR */
.inferior {
    display: grid;
    grid-template-columns: 2fr 6fr;
}
/* IZQUIERDA */

.tablaEquipos {
    zoom: 80%;
}
.tablaSup {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    background-color: white;
    margin-bottom: 0.5em;
}
.tablaBuscar {
    background-color: white;
    font-size: 0.8em;
    flex: 1 1 auto;
    margin: auto;
    padding: 0.5em 2em 0 2em;
}
.tablaInputBuscar {
    zoom: 100%;
}
.mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
}
.mat-expansion-panel-header.mat-row {
    border-bottom: none;
}
.mat-table {
    display: block;
    text-align: center;
}
.mat-header-row {
    min-height: 56px;
}
.mat-row {
    min-height: 48px;
}
.mat-sort-header-container {
    justify-content: center;
}
.mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
}
.headerGrid {
    display: grid !important;
    grid-template-columns: 1fr 1fr;
    text-align: center;
    grid-auto-flow: column;
    padding: 0 1em !important;
}
.headerGrid span, .headerGrid6 span {
    justify-self: center;
}
.headerGrid6 {
    display: grid !important;
    grid-template-columns: repeat(6, 1fr);
    text-align: center;
    grid-auto-flow: column;
    padding: 0 1em !important;
}
.mat-row::after, .mat-header-row::after {
    display: inline-block;
    min-height: inherit;
    content: '';
}
.mat-cell, .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    text-align: center;
}
.expan {
    background: #f0f0f0;
    padding: 1em;
}
.acciones {
    display: flex;
    width: 100%;
    justify-content: space-between;
}
.tablaInf {
    margin-top: 0.5em;
    display: grid;
}

/* DERECHA */

.derSuperior {
    display: flex;
    justify-content: space-between;
    height: 2.5em;
    margin-bottom: 1em;
}
.equip {
    display: grid;
    grid-template-columns: 1fr;
}
.equip p {
    margin: auto 0;
    color: cornflowerblue;
}
.equip p:hover{
    cursor: pointer;
}
.equip span {
    color: dimgray;
    font-size: 0.8em;
}
.tablaSWOs {
    zoom: 80%;
}
.tablaSupSWO {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
    display: flex;
    background-color: white;
    margin-bottom: 0.5em;
}
.tablaBuscarSWO {
    background-color: white;
    font-size: 0.8em;
    flex: 1 1 auto;
    margin: auto;
    padding: 0.5em 2em 0 2em;
}
.tablaInputBuscarSWO {
    zoom: 100%;
}
.mat-accordion .mat-header-row {
    padding-left: 1.5rem;
    padding-right: 2rem;
    border-bottom: none;
}
.mat-expansion-panel-header.mat-row {
    border-bottom: none;
}
.mat-table {
    display: block;
}
.mat-header-row {
    min-height: 56px;
}
.mat-row {
    min-height: 48px;
}
.mat-row, .mat-header-row {
    display: flex;
    border-bottom-width: 1px;
    border-bottom-style: solid;
    align-items: center;
    padding: 0 24px;
    box-sizing: border-box;
}
.mat-row::after, .mat-header-row::after {
    display: inline-block;
    min-height: inherit;
    content: '';
}
.mat-cell, .mat-header-cell {
    flex: 1;
    overflow: hidden;
    word-wrap: break-word;
    margin: auto;
}

.opGrid {
    display: grid;
    grid-template-columns: repeat(5, 1fr) 2fr 2fr 1fr;
    justify-items: center;
}

.opBtns {
    margin: auto;
}

::ng-deep .mat-expansion-panel-spacing {
    border: 1px solid mediumturquoise;
}
.tablaInfSWO {
    margin-top: 0.5em;
    display: grid;
}




