.inferior {
  margin-bottom: 10em;
}
.header {
  min-height: 64px;
  padding: 8px 24px 0;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.hoverElement:hover {
  color: darkcyan;
  font-weight: bold;
  cursor: pointer;
}
.mat-elevation-z8 {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}
.mat-form-field {
  font-size: 14px;
  width: 100%;
}
.mat-table {
  overflow: auto;
  display: grid;
}
.serviciosC ::ng-deep .mat-sort-header-container {
  justify-content: center;
  margin: auto;
}
.mat-row {
  display: grid;
  width: 100%;
  grid-template-columns: repeat(11, 1fr);
}
.mat-cell {
  text-align: center;
  min-width: 6em;
  margin-bottom: -3.5em;
  font-size: 12px !important;
  justify-content: center;
}
mat-cell:last-of-type,
mat-footer-cell:last-of-type,
mat-header-cell:last-of-type {
  padding-right: 0 !important;
}
mat-cell:first-of-type,
mat-footer-cell:first-of-type,
mat-header-cell:first-of-type {
  padding-left: 0 !important;
}
