.main {
    display: grid;
    grid-gap: 1em;
    height: 92.4vh;
}
.superior {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
}
@media only screen and (max-width: 769px) {
    .superior {
        grid-template-columns: 1fr;
        grid-template-areas: "dswo" "dequipo" "dcliente"
    }
    .datosEquipo {
        grid-area: dequipo;
        padding: 1em 1em;
    }
    .datosSwo {
        grid-area: dswo;
        padding: 0 1em;
    }
    .datosCliente {
        grid-area: dcliente;
        padding: 0 1em;
    }
}
mat-card {
    border-radius: 10px !important;
}

/* Datos de la SWO */

.datosSwo {
    margin: auto 1em;
}
#swo {
    margin: 0;
    font-size: 3em;
    text-align: center;
    color: #0079c2;
}
.swoDetalles p {
    text-align: center;
    font-size: 0.8em;
    color: dimgray;
}

/* Datos del Equipo */

.datosEquipo {
    margin: auto 1em;
    font-size: 0.8em;
    text-align: center;
}
.equipoCard h4 {
    color: darkcyan;
    margin: 0;
    font-size: 1.3em;
    cursor: pointer;
}

/* Datos del Cliente */

.datosCliente {
    margin: auto 1em;
    text-align: center;
}
.clienteCard {
    border-radius: 10px;
    zoom: 80%;
}
.clienteCard h3 {
    color: darkcyan;
    cursor: pointer;
}

/* Otra OP */

.otraOP {
    display: grid;
    grid-template-columns: 2fr 1fr;
    max-height: 2.3em;
}
@media only screen and (max-width: 769px) {
    .otraOP {
        grid-template-columns: 1fr;
    }
}

/* INFERIOR */

.inferior {
    margin-bottom: 2em;
}
.tab {
    width: 2em;
}
.opGrid {
    display: grid;
    grid-template-columns: 2fr 1fr;
    text-align: center;
}
.proceedBtn {
    margin: auto 0;
}
.backSaveBtns {
    margin: auto;
    display: grid;
    grid-template-columns: 1fr 3fr;
    grid-gap: 1em;
}
.proceedDetails {
    border-top: 1px solid lightgray;
}
.proceedDetails p {
    text-align: center;
}
.statusP {
    margin: 0;
}
.resObsGrid {
    display: grid;
    grid-template-columns: 1fr 2fr;
    text-align: center;
}
.hrs {
    width: 5em;
    text-align: center;
}
.refasTable {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    text-align-last: center;
}
.refasTable span {
    font-size: 0.8em;
}
.refasTable input {
    border: 1px solid black;
}

/* comoPDF Component */

/* .comoPDF {
    zoom: 90%;
    margin: 0 20%;
} */
.comoPDF{
    display: grid;
    grid-template-columns: 1fr 3fr;
}
.printBtn {
    text-align: center;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 1em;
}
.subirFoto{
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 2em;
}
.inputfile {
	width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1;
}
.labelFile {
    cursor: pointer;
    display: grid;
    justify-content: center;
    align-content: center;
}
.inputfile:focus + label {
	outline: 1px dotted #000;
	outline: -webkit-focus-ring-color auto 5px;
}
/* Admins */
.administrativos{
    background-color: lightblue;
    margin-top: 1em;
    margin-right: 1em;
    border-radius: 10px;
    padding: 1em;
    font-size: 17px;
    color: dimgray;
}
.adminItm{
    margin: 0.5em 0;
    color: dimgray;
}
.slide{
    height: 37px;
}
.swoFirmada, .swoEnviada, .swoRecibida{
    display: grid;
    grid-template-columns: 2fr 1fr 3fr;
    align-items: center;
    min-height: 54px;
}
.swoFirmada *, .swoEnviada *, .swoRecibida *, .swoNoEnviada *, .recibidaOK *{
    margin: auto;
}
.swoNoEnviada{
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-areas: "nE1 nE1 nE2 nE3 nE3 nE3" "nE4 nE4 nE4 nE5 nE5 nE5" "nE6 nE6 nE6 nE6 nE6 nE6";
    align-items: center;
}
.nE1{ grid-area: nE1}
.nE2{ grid-area: nE2}
.nE3{ grid-area: nE3}
.nE4{ grid-area: nE4; height: 37px; line-height: 37px;}
.nE5{ grid-area: nE5}
.nE6{ grid-area: nE6}

.swoNoEnviada input{
    width: 86%;
    margin: 1em auto;
}

.guia, .swoRecibida span{
    font-size: 0.8em !important;
    align-self: center;
}


@media only screen and (max-width: 769px) {
    .comoPDF {
        margin: 0;
        grid-template-columns: 1fr;
    }
    .comoPDF button {
        /* width: 90vw; */
    }
}
@media print {
    .comoPDF, .Ops {
        display: block;
        zoom: 100% !important;
        padding: 0 !important;
    }
    .superior, ::ng-deep mat-tab-header, .otraOP, .masDatos {
        display: none !important;
    }
     ::ng-deep mat-card {
        box-shadow: none !important;
    }
    .comoPDF {
        height: 100vh;
        
    }
    .inferior {
        margin: 0 !important;
    }
    .aver{
        margin: 0 3.6em;
        zoom: 92% !important;
    }
}