<form #formNewOP="ngForm">
    <div *ngIf="user" style="margin-top: 1em">
        <h2>Agregar nueva Operación</h2>
        <div class="main">
            <div class="swoDiv">
                <mat-form-field>
                    <input matInput class="swo" name="orden" [(ngModel)]="swo.swo" placeholder="SWO.." disabled>
                </mat-form-field>
                <mat-form-field>
                    <input matInput class="op" name="op" [(ngModel)]="oper.op" placeholder="Operación..">
                </mat-form-field>
            </div>

            <div class="otrosDiv">
                <mat-form-field>
                    <input matInput class="swo" name="satus" [(ngModel)]="oper.status" placeholder="Status.." disabled>
                </mat-form-field>

                <mat-form-field>
                    <mat-select placeholder="Actividad..." [(ngModel)]="oper.actividad" name="actividad" required>
                        <mat-option *ngFor="let opActividad of actividades" [value]="opActividad">
                            {{opActividad}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <mat-form-field *ngIf="user.role!='fse'">
                    <mat-select placeholder="Ingeniero..." [(ngModel)]="oper.fse" name="fse" required>
                        <mat-option *ngFor="let inge of ingenieros" [value]="inge">
                            {{inge}}
                        </mat-option>
                    </mat-select>
                </mat-form-field>

                <div [formGroup]="pickerFormGroup">
                    <ng2-flatpickr class="pickerNewOP" [config]="pickerOptions" formControlName="pickerForm" placeholder="Fecha.." required></ng2-flatpickr>
                </div>
            </div>
        </div>

        <div class="guardar">
            <button mat-raised-button color="accent" (click)="onSubmit()" [disabled]="!formNewOP.form.valid">Guardar</button>
        </div>
    </div>
</form>