<div *ngIf='equipo && cliente'>
  <div class="main">
    <div class="superior">
      <div class="titulo">
        <div class="tituloArriba">
          <h1>{{equipo.modelo}} </h1>
          <h1 id="eqSerie">{{equipo.serie}}</h1>
          <button mat-icon-button (click)="editarEquipo()">
            <mat-icon>edit </mat-icon>
          </button>
        </div>
        <div class="tituloAbajo">
          <h3>{{equipo.tipo}} </h3>
        </div>
        <div *ngIf="equipo.moduloSerie" class="modulo">
          <h4> Módulo: {{equipo.moduloModelo}} serie: {{equipo.moduloSerie}} </h4>
        </div>
        <div *ngIf="equipo.accesorios" class="accesorios">
          <p><strong>Accesorios:</strong> {{equipo.accesorios}} </p>
        </div>
      </div>
      <div class="datosCliente">
        <mat-card class="clienteCard">
          <button mat-icon-button class="editButton" (click)="editarCliente()">
            <mat-icon>edit </mat-icon>
          </button>
          <h3 [routerLink]="['/cliente',cliente.id]">{{cliente.nombre}} </h3>
          <p>{{cliente.direccion}} {{cliente.ciudad}}, {{cliente.estado}} </p>
          <p> <strong>Ubicación:</strong> {{equipo.ubicacion}} </p>
        </mat-card>
      </div>
    </div>
    <div class="inferior">
      <mat-card class="historialSWOs">
        <div class="tabla">
          <div class="tablaSup">
            <mat-form-field class="tablaBuscar">
              <input matInput class="tablaInputBuscar" type="text" [(ngModel)]=swoBuscado (keyup)="filtrarSWOs()"
                placeholder="Filtrar o buscar SWO...">
            </mat-form-field>
            <button mat-raised-button class="btnNewSwo" color="accent" (click)="agregarSWO()">Agregar SWO</button>
          </div>

          <mat-accordion class="mat-table">
            <section matSort class="mat-elevation-z2 mat-header-row headerGrid">
              <span class="mat-header-cell" mat-sort-header="swo">SWO</span>
              <span class="mat-header-cell" mat-sort-header="fechainicio">Fecha Inicio</span>
              <span class="mat-header-cell" mat-sort-header="status">Status</span>
              <span class="mat-header-cell" mat-sort-header="fechafin">Ultima actualización</span>
              <span class="mat-header-cell" mat-sort-header="actividad">Actividad</span>
              <span class="mat-header-cell">Falla</span>
            </section>

            <mat-expansion-panel *ngFor="let orden of displayedSWO$ | async" (opened)="leerOps(orden.id)">
              <mat-expansion-panel-header class="mat-row" [ngStyle]="{'background-color':getColor(orden.status)}">
                <span class="mat-cell">{{orden.swo}}</span>
                <span *ngIf="orden.fechainicio" class="mat-cell">{{orden.fechainicio.toDate() | date: 'dd/MM/yyyy'}}</span>
                <span class="mat-cell">{{orden.status}}</span>
                <span *ngIf="orden.fechafin" class="mat-cell">{{orden.fechafin.toDate() | date: 'dd/MM/yyyy'}}</span>
                <span *ngIf="!orden.fechafin" class="mat-cell"></span>
                <span class="mat-cell">{{orden.actividad}}</span>
                <span class="mat-cell">{{orden.falla}}</span>
              </mat-expansion-panel-header>
              <div class="expan">
                <div>
                  <mat-tab-group>
                    <mat-tab *ngFor="let operacion of ops" label="Op {{operacion.op}}">
                      <div class="opGrid">
                        <h3>Fecha programado:</h3>
                        <h3>Status:</h3>
                        <h3>Fecha realizado:</h3>
                        <h3>FSE</h3>
                        <h3>Actividad:</h3>
                        <h3>Resultados:</h3>
                        <h3>Observaciones:</h3>
                        <h3>Acciones</h3>
                        <span *ngIf="operacion.fechaprog" class="mat-cell">{{operacion.fechaprog.toDate() |
                          date:'dd/MM/yyyy'}}</span>
                        <span class="mat-cell">{{operacion.status}}</span>
                        <span *ngIf="operacion.fechafin" class="mat-cell">{{operacion.fechafin.toDate() |
                          date:'dd/MM/yyyy'}}</span>
                        <span *ngIf="!operacion.fechafin" class="mat-cell"></span>
                        <span class="mat-cell">{{operacion.fse }}</span>
                        <span class="mat-cell">{{operacion.actividad }}</span>
                        <span class="mat-cell">{{operacion.resultados }}</span>
                        <span class="mat-cell">{{operacion.observaciones }}</span>
                        <div *ngIf="user" class="opBtns">
                          <button mat-raised-button [routerLink]="['/swo', orden.id]">Ver</button>
                          <div *ngIf="operacion.fse==user.displayName || user.role=='admin' ">
                            <button *ngIf="operacion.status!='Concluido'" mat-raised-button (click)="editarOP(orden,operacion)">Editar</button>
                          </div>
                          <button mat-raised-button *ngIf="user.role=='admin'" (click)="eliminarOP(orden,operacion)">Eliminar</button>
                        </div>
                      </div>
                    </mat-tab>
                  </mat-tab-group>
                </div>
              </div>
            </mat-expansion-panel>
          </mat-accordion>
          <div class="tablaInf">
            <mat-paginator #paginator [length]="totalRowsSWO$ | async" [pageIndex]="0" [pageSize]="10"
              [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
          </div>
        </div>
      </mat-card>
    </div>
  </div>
</div>
