<div class="main">
  <mat-card>
    <div class="superior">
      <p>Seleccionar a que SWOs se les recibirá</p>
      <div class="supDer">
        <button class="mainBtn" *ngIf="!showProceedDetails" color="primary" mat-raised-button
          (click)="showProceedDetails=!showProceedDetails">Seleccionar</button>
        <div *ngIf="showProceedDetails" class="backSaveBtns">
          <button color="accent" mat-raised-button (click)="showProceedDetails=!showProceedDetails; back()">
            <mat-icon>arrow_back</mat-icon>
          </button>
          <button class="mainBtn" color="primary" mat-raised-button
            (click)="showProceedDetails=!showProceedDetails; saveProceed()" [disabled]="saveDisabled">Guardar</button>
        </div>
      </div>
    </div>
    <mat-form-field class="tablaBuscar">
      <input matInput class="tablaInputBuscar" type="text" [(ngModel)]="opBuscada" (keyup)="filtrarOPs()"
        placeholder="Buscar...">
    </mat-form-field>
    <table>
      <thead>
        <tr class="rowHeader">
          <th *ngIf="!showProceedDetails"></th>
          <th *ngIf="showProceedDetails" (click)="toggleAllChecked()" style="cursor: pointer;">
            <mat-icon *ngIf="allChk">check_box</mat-icon>
            <mat-icon *ngIf="!allChk">check_box_outline_blank</mat-icon>
          </th>
          <th>Fecha</th>
          <th>SWO</th>
          <th>OP</th>
          <th>Cliente</th>
          <th>Equipo</th>
          <th>Serie</th>
          <th>FSE</th>
          <th>Status</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let op of ops" class="rowData">
          <td *ngIf="!showProceedDetails"></td>
          <td *ngIf="showProceedDetails">
            <mat-checkbox (change)="setUnset($event, op)" [checked]="op.checked"></mat-checkbox>
          </td>
          <td> {{op.fechafin.toDate() | date:'dd/MM/yyyy' }}</td>
          <td> {{op.swo}} </td>
          <td> {{op.op}}</td>
          <td> {{op.cliente}} </td>
          <td> {{op.equipoModelo}} </td>
          <td> {{op.equipoSerie}} </td>
          <td> {{op.fse}} </td>
          <td> {{op.status}}</td>
        </tr>
        <p> Invisible</p>
      </tbody>
    </table>
  </mat-card>
</div>
