<div *ngIf='equipo && cliente && user'>
    <div class="main">
        <div class="superior">
            <div class="datosEquipo">
                <mat-card class="equipoCard">
                    <p> <strong>Modelo:</strong> {{equipo.modelo}} </p>
                    <h4 [routerLink]="['/equipo',equipo.id]">Serie: {{equipo.serie}}</h4>
                    <p> <strong>Ubicación:</strong> {{equipo.ubicacion}} </p>
                </mat-card>
            </div>
            <div class="datosSwo">
                <div class="swo">
                    <h1 id="swo">{{swo.swo}} </h1>
                </div>
                <div class="swoDetalles">
                    <p><strong>Actividad:</strong> {{swo.actividad}} </p>
                    <p><strong>Falla:</strong> {{swo.falla}} </p>
                    <p><strong>Status:</strong> {{swo.status}} </p>
                    <p *ngIf="swo.status=='Concluido'"><strong>Fecha inicio:</strong> {{swo.fechainicio | date: 'dd/MM/yyyy'}} </p>
                    <p *ngIf="swo.status=='Concluido'"><strong>Fecha fin:</strong> {{swo.fechafin | date: 'dd/MM/yyyy'}} </p>
                </div>
            </div>
            <div class="datosCliente">
                <mat-card class="clienteCard">
                    <h3 [routerLink]="['/cliente',cliente.id]">{{cliente.nombre}} </h3>
                    <p>{{cliente.direccion}} {{cliente.ciudad}}, {{cliente.estado}} </p>
                </mat-card>
            </div>
        </div>
        <mat-card *ngIf="swo.status=='En espera de refacción' || swo.status=='Pendiente'" class="otraOP">
            <div></div>
            <button color="primary" mat-raised-button (click)="nuevaOP()">Programar nueva OP</button>
        </mat-card>
        <div class="inferior">
            <mat-card class="Ops">
                <mat-tab-group>
                    <mat-tab class="tab" *ngFor="let op of ops" label="Op {{op.op}}">
                        <form *ngIf="op.status=='Programado'" #formNewSwo="ngForm">
                            <div class="opGrid">
                                <div>
                                    <p *ngIf="op.fse!=user.displayName"><strong>Ingeniero: &nbsp; </strong> {{op.fse}} </p>
                                    <p><strong>Fecha programada: &nbsp; </strong> {{op.fechaprog | date: 'dd/MM/yyyy'}} </p>
                                </div>
                                <button class="proceedBtn" *ngIf="!showProceedDetails && op.fse==user.displayName " color="primary" mat-raised-button (click)="showProceedDetails=!showProceedDetails; proceed()">Proceder</button>
                                <div class="backSaveBtns">
                                    <button *ngIf="showProceedDetails" color="accent" mat-raised-button (click)="showProceedDetails=!showProceedDetails"> <mat-icon>arrow_back</mat-icon> </button>
                                    <button *ngIf="showProceedDetails" color="primary" mat-raised-button (click)="showProceedDetails=!showProceedDetails; saveProceed(op)" [disabled]="!formNewSwo.form.valid">Guardar</button>
                                </div>
                            </div>
                            <div *ngIf="showProceedDetails" class="proceedDetails">
                                <p><strong>¿Equipo operando?</strong>
                                    <mat-radio-group name="operando" [(ngModel)]="operando" required>
                                        <mat-radio-button [value]=true>Si</mat-radio-button>
                                        <mat-radio-button [value]=false>No</mat-radio-button>
                                    </mat-radio-group>
                                </p>
                                <p class="statusP"><strong>Nuevo Status: &nbsp;</strong>
                                    <mat-form-field>
                                        <mat-select [(ngModel)]="status" name="status" required>
                                            <mat-option *ngFor="let opStatus of statuses" [value]="opStatus">
                                                {{opStatus}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </p>
                                <div class="resObsGrid">
                                    <p><strong>Resultados:</strong></p>
                                    <mat-form-field>
                                        <textarea matInput name="resultados" [(ngModel)]="resultados" matTextareaAutosize matAutosizeMinRows="4" required></textarea>
                                    </mat-form-field>
                                    <p><strong>Observaciones:</strong></p>
                                    <mat-form-field>
                                        <textarea matInput name="observaciones" [(ngModel)]="observaciones" matTextareaAutosize matAutosizeMinRows="4" required></textarea>
                                    </mat-form-field>
                                </div>
                                <p><strong>Duración:</strong>
                                    <mat-form-field class="hrs">
                                        <input type="number" matInput name="duracion" [(ngModel)]="duracion" required><span matSuffix>hrs</span>
                                    </mat-form-field>
                                </p>
                                <p><strong>Refacciones:</strong>
                                    <mat-radio-group [(ngModel)]="showRefas" name="refasYN" required>
                                        <mat-radio-button [value]="true">Si</mat-radio-button>
                                        <mat-radio-button [value]="false">No</mat-radio-button>
                                    </mat-radio-group>
                                </p>
                                <div *ngIf="showRefas" class="refasTable">
                                    <span>Código</span>
                                    <span>Descripción</span>
                                    <span>Cantidad</span>
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                    <input type="text">
                                </div>
                            </div>
                        </form>
                        <div *ngIf="op.status!='Programado'" class="comoPDF">
                            <button color="accent" mat-raised-button (click)="print()"> <mat-icon>print</mat-icon> </button>
                            <ordenpdfC [swo]="swo" [op]="op" [cliente]="cliente" [equipo]="equipo"></ordenpdfC>
                        </div>
                    </mat-tab>
                </mat-tab-group>
            </mat-card>
        </div>
    </div>
</div>