<div class="limiter">
    <div class="container-table100">
        <div class="wrap-table100">


            <div class="datos">
                <div class="izq">
                    <h2>Edad</h2>
                    <h2>Estatura</h2>
                    <h2>Peso ajustado</h2>
                    <h2>Peso ideal</h2>
                </div>
                <div>
                    <h2>________</h2>
                    <h2>________</h2>
                    <h2>________</h2>
                    <h2>________</h2>
                </div>
                <div class="der">
                    <h2>1era meta</h2>
                    <h2>2da meta</h2>
                    <h2>3era meta</h2>
                </div>
                <div>
                    <h2>________</h2>
                    <h2>________</h2>
                    <h2>________</h2>
                </div>
            </div>

            <div>
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th>Fecha</th>
                            <th>Peso</th>
                            <th>Grasa</th>
                            <th>Musculo</th>
                            <th>Abdomen</th>
                            <th>Cadera</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td class="last lizq"></td>
                            <td class="last"></td>
                            <td class="last"></td>
                            <td class="last"></td>
                            <td class="last"></td>
                            <td class="last col6 lder"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="wrap-table100">
            <div class="table100">
                <table>
                    <thead>
                        <tr class="table100-head">
                            <th>Fecha</th>
                            <th>Peso</th>
                            <th>Grasa</th>
                            <th>Musculo</th>
                            <th>Abdomen</th>
                            <th>Cadera</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td></td>
                            <td class="col6"></td>
                        </tr>
                        <tr>
                            <td class="last lizq"></td>
                            <td class="last"></td>
                            <td class="last"></td>
                            <td class="last"></td>
                            <td class="last"></td>
                            <td class="last col6 lder"></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>