/* You can add global styles to this file, and also import other style files */

body {
  margin: 0;
  padding: 0;
  /* font-family: Roboto, Arial, sans-serif; */
  /* font-family: Product Sans !important; */
}
* {
  font-family: Product Sans;
}

@media print {
  @page {
    size: 612pt 792pt;
    margin: 14pt 0;
  }
  body {
    font-size: 12pt;
    -webkit-print-color-adjust:exact;
  }
}
